<div class="col-md-4">
  <section id="buttons">
      <button class="btn btn-success" ng-click="loadMoreTweets()">Fetch more messages <i ng-if="loading" class="glyphicon glyphicon-time"></i></button>
  </section>
  <section id="messages">
      <div ng-if="lastMessage" class="alert alert-info">
        <strong>{{lastMessage}}</strong>
      </div>
      <div ng-if="lastError" class="alert alert-danger">
        Error Loading: <br>
        <strong>{{lastError}}</strong>
      </div>
  </section>
</div>

<div class="col-md-8">
  <div class="well" ng-class="{'text-danger': hasKeyword(tweet)}" ng-repeat="tweet in tweets | orderBy:['-sentiment', '-created_at']">
  <!-- <pre>{{tweet | json}}</pre> -->
    <h4>{{tweet.user_handle}}
      <small>{{tweet.created_at | date:'short'}}</small>
      <small title="this tweet was loaded {{tweet.count}} times.">Count {{tweet.count}}</samm>
    </h4> 
    <strong class="pull-right">Sentiment {{tweet.sentiment}}</strong>
    <div class="tweettext">{{tweet.message}}</div>
  </div>
  <div ng-if="tweets.length == 0">
    <h2>Pah! No tweets</h2>
    <p>Load some using the button</p>
  </div>
</div>

<div class="clearfix"></div>